/* Main-Footer.css */

.footer-container {
  margin-top: 60px;
  background-color: #24263B;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  background-image: url('../../assets/Home/profilephoto.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 350px;
  height: 300px;
  border-radius: 50px;
}

.footer-middle {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column; /* Make it a column layout */
  align-items: center; /* Center align items horizontally */
}

.footer-icons {
  text-align: right;
}

.custom-icon {
  display: flex;
  justify-content: flex-end;
}

.custom-icon a {
  margin-left: 10px;
}

.custom-icon i {
  color: #ffffff;
  padding: 8px;
}

.custom-icon i:hover {
  transform: scale(1.5);
}

.additional-content {
  margin-top: 20px;
}

 
.footer-icons h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.footer-icons  h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 150px;
  height: 2px;
  background-color: #ff4500;
  transform: translateX(-50%);
}
.footer-middle h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}

.footer-middle  h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 150px;
  height: 2px;
  background-color: #ff4500;
  transform: translateX(-50%);
}