/* ContactMe.css */

/* Adjustments for larger screens */
.contact-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.heading h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}

.heading h2::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 150px;
    height: 2px;
    background-color: #ff4500;
    transform: translateX(-50%);
}

.contact-content {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.contact-heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-heading h2 {
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    margin-right: 20px;
}

.contact-image {
    width: 500px; /* Adjust the width of the image */
    height: auto;
}

.background-color {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.colz-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.colz-icon i {
    color: #24263B;
    padding: 8px;
    padding-left: 0px;
}

.colz-icon i:hover {
    transform: scale(1.5);
}

.contact-form {
    width: 45%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-content,
    .contact-form {
        width: 100%;
    }

    .contact-heading h2 {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .contact-image {
        width: 80%; /* Adjust image width for smaller screens */
    }
}
